<%= form_with(model: admin_subject) do |form| %>
  <% if admin_subject.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(admin_subject.errors.count, "error") %> prohibited this admin_subject from being saved:</h2>

      <ul>
        <% admin_subject.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='form-group'>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= form.label :num_of_questions, style: "display: block" %>
    <%= form.number_field :num_of_questions, class: 'form-control' %>
  </div>

  <div>
    <%= form.submit 'Submit',class:'btn btn-success' %>
  </div>
<% end %>
