<p style="color: green"><%= notice %></p>

<%= render 'subject_questions',questions: @admin_questions %>

<div>
  <%= link_to "Edit this subject", edit_admin_subject_path(@admin_subject) %> |
  <%= link_to "Back to subjects", admin_subjects_path %> |
  <%= link_to "Add Question", new_admin_question_path %>

  <%= button_to "Destroy this subject", @admin_subject, method: :delete, class: 'btn btn-link mt-3' %>
</div>
