<p style="color: green"><%= notice %></p>

<%= render 'subject_questions',questions: @admin_questions %>

<div class="d-flex">
  <%= link_to "Edit", edit_admin_subject_path(@admin_subject), class: 'btn btn-link' %>
  <%= link_to "Back", admin_subjects_path, class: 'btn btn-link' %>
  <%= link_to "Add Question", new_admin_question_path, class: 'btn btn-link' %>
  <%= button_to "Destroy", @admin_subject, method: :delete, class: 'btn btn-link py-2 px-3', id: 'button_css' %>
</div>
