<p style="color: green"><%= notice %></p>

<%= render @admin_subject %>

<div>
  <%= link_to "Edit this subject", edit_admin_subject_path(@admin_subject) %> |
  <%= link_to "Back to subjects", admin_subjects_path %>

  <%= button_to "Destroy this subject", @admin_subject, method: :delete %>
</div>
