<%= render @admin_exam %>
<% @questions.each do |question| %>
	<div class="container mt-3">
    <div class="card">
      <div class="card-body">
        <!-- <h4 class="card-title"><%#= question.subject.name %></h4> -->
        <p class="card-text"><%= question.title %></p>
        <% if question.inputType == 'list' %>
        	<% question.optionValues.keys.each do |option| %>
        		<div class="form-check">
		          <input class="form-check-input" type="radio" name="<%= question.id %>" id="<%= question.id %>" value="<%= question.id %>">
		          <label class="form-check-label" for="option1">
		            <%= option %>
		          </label>
		        </div>
        	<% end %>
        <% elsif question.inputType == 'multipleChoice' %>
        	<% question.optionValues.keys.each do |option| %>
        		<div class="form-check">
		          <input class="form-check-input" type="checkbox" name="<%= question.id %>" id="<%= question.id %>" value="<%= question.id %>">
		          <label class="form-check-label" for="option1">
		            <%= option %>
		          </label>
		        </div>
        	<% end %>
        <% elsif question.inputType == 'true/false' %>
        	<div class="form-check">
	          <input class="form-check-input" type="radio" name="<%= question.id %>" id="<%= question.id %>" value="<%= question.id %>">
		          <label class="form-check-label" for="option1">
		            True
		          </label>
	        </div>
	        <div class="form-check">
	          <input class="form-check-input" type="radio" name="<%= question.id %>" id="<%= question.id %>" value="<%= question.id %>">
		          <label class="form-check-label" for="option1">
		            False
		          </label>
	        </div>
        <% end %>
      </div>
    </div>
 	</div>
<% end %>

<div class="d-flex">
	<%= link_to "Back", admin_exams_path, class: 'btn btn-md btn-link' %>
	<%= link_to "Edit", edit_admin_exam_path(@admin_exam), class: 'btn btn-md btn-link' %>
	<%= button_to 'Delete', @admin_exam, method: :delete, class: 'btn btn-md btn-link' %>
</div>
