<%= form_with(model: admin_question) do |form| %>
  <% if admin_question.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(admin_question.errors.count, "error") %> prohibited this admin_question from being saved:</h2>

      <ul>
        <% admin_question.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='form-group'>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_area :title, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= form.label :inputType, 'Input Type: ', style: "display: block" %>
    <%= form.select :inputType, input_type_options, :include_blank => 'Select Question Type', class: 'form-control' %>
  </div>

  <div class='hidden' id='optionBlock'>
    <div class='form-group'>
      <%= form.label :option1, style: "display: block" %>
      <%= form.text_field :option1, class: 'form-control' %>
    </div>

    <div class='form-group'>
      <%= form.label :option2, style: "display: block" %>
      <%= form.text_field :option2, class: 'form-control' %>
    </div>

    <div class='form-group'>
      <%= form.label :option3, style: "display: block" %>
      <%= form.text_field :option3, class: 'form-control' %>
    </div>

    <div class='form-group'>
      <%= form.label :option4, style: "display: block" %>
      <%= form.text_field :option4, class: 'form-control' %>
    </div>
  </div>

  <div class='hidden' id='answerBlock'>
    <div class='form-group'>
      <%= form.label :answer, style: "display: block" %>
      <%= form.text_field :answer, class: 'form-control' %>
    </div>
  </div>
  <div class='form-group'>
    <%= form.label :subject_id, style: "display: block" %>
    <%= form.select :subject_id, get_all_subjects, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= form.submit class: 'btn btn-success' %>
  </div>
<% end %>






<script type="text/javascript">
  function fieldCondition(inputType){
    if (inputType === 'true/false'){
      $('#answerBlock').removeClass("hidden");
      $('#optionBlock').addClass("hidden");
    }
    else if (inputType === 'multipleChoice' || inputType === 'list'){
      $('#answerBlock').removeClass("hidden");
      $('#optionBlock').removeClass("hidden");
    }
    else{
      $('#answerBlock').addClass("hidden");
      $('#optionBlock').addClass("hidden");
    }
  }
  var setField = function() {
    const inputType = $(this).val();
    fieldCondition(inputType)
  }
  $( document ).ready(function() {
    const inputType = $('#admin_question_inputType')[0].value;
    fieldCondition(inputType);
  });
  $('#admin_question_inputType').change(setField);
</script>