<%= form_with(model: admin_question) do |form| %>
  <% if admin_question.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(admin_question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
        <% admin_question.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='form-group'>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_area :title, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= form.label :inputType, 'Input Type: ', style: "display: block" %>
    <%= form.select :inputType, input_type_options, :include_blank => 'Select Question Type', class: 'form-control' %>
  </div>

  <div class='hidden' id='multipleChoiceOptionBlock'>
    <div class='form-group form-inline'>
      <%= form.label :option1, style: "display: block" %>
      <%= form.text_field 'optionKeys[0]', class: 'form-control' %>
      <%= form.check_box 'isRight[0]' %>
    </div>

    <div class='form-group form-inline'>
      <%= form.label :option2, style: "display: block" %>
      <%= form.text_field 'optionKeys[1]', class: 'form-control' %>
      <%= form.check_box 'isRight[1]' %>
    </div>

    <div class='form-group form-inline'>
      <%= form.label :option3, style: "display: block" %>
      <%= form.text_field 'optionKeys[2]', class: 'form-control' %>
      <%= form.check_box 'isRight[2]' %>
    </div>

    <div class='form-group form-inline'>
      <%= form.label :option4, style: "display: block" %>
      <%= form.text_field 'optionKeys[3]', class: 'form-control' %>
      <%= form.check_box 'isRight[3]' %>
    </div>
  </div>

  <div class='hidden' id='listOptionBlock'>
    <div class='form-group form-inline'>
      <%= form.label :option1, style: "display: block" %>
      <%= form.text_field 'listOptionKeys[0]', class: 'form-control' %>
      <%= form.radio_button :answer, '1' %>
    </div>

    <div class='form-group form-inline'>
      <%= form.label :option2, style: "display: block" %>
      <%= form.text_field 'listOptionKeys[1]', class: 'form-control' %>
      <%= form.radio_button :answer, '2' %>
    </div>

    <div class='form-group form-inline'>
      <%= form.label :option3, style: "display: block" %>
      <%= form.text_field 'listOptionKeys[2]', class: 'form-control' %>
      <%= form.radio_button :answer, '3' %>
    </div>

    <div class='form-group form-inline'>
      <%= form.label :option4, style: "display: block" %>
      <%= form.text_field 'listOptionKeys[3]', class: 'form-control' %>
      <%= form.radio_button :answer, '4' %>
    </div>
  </div>

  <div class='hidden' id='trueFalseOptionBlock'>
    <div class='form-group form-inline'>
      <%= form.label :true,'True: ' %>
      <%= form.radio_button :answer,'True' %>
      <%= form.label :false, 'False: ' %>
      <%= form.radio_button :answer,'False' %>
    </div>
  </div>

  <div class='form-group'>
    <%= form.label :subject_id, style: "display: block" %>
    <%= form.select :subject_id, all_subjects, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= form.submit class: 'btn btn-success' %>
  </div>
<% end %>

<script type="text/javascript">
var place = {
  "true/false" : "true/false",
  "multipleChoice": "select from option",
  "list": "select from option"
}
  function fieldCondition(inputType){
    $('#admin_question_answer').attr("placeholder", place[inputType]);
    let removeClassHidden = (id) => $(`#${id}`).removeClass("hidden");
    let addClassHidden = (id) => $(`#${id}`).addClass("hidden");
    if (inputType === 'true/false'){
      addClassHidden('multipleChoiceOptionBlock');
      addClassHidden('listOptionBlock');
      removeClassHidden('trueFalseOptionBlock');
    }
    else if (inputType === 'multipleChoice'){
      addClassHidden('trueFalseOptionBlock');
      addClassHidden('listOptionBlock');
      removeClassHidden('multipleChoiceOptionBlock');
    }
    else if (inputType === 'list'){
      addClassHidden('trueFalseOptionBlock');
      addClassHidden('multipleChoiceOptionBlock');
      removeClassHidden('listOptionBlock');
    }
    else{
      addClassHidden('multipleChoiceOptionBlock');
      addClassHidden('trueFalseOptionBlock');
      addClassHidden('listOptionBlock');
    }
  }
  var setField = function() {
    const inputType = $(this).val();
    fieldCondition(inputType)
  }
  $( document ).ready(function() {
    const inputType = $('#admin_question_inputType')[0].value;
    fieldCondition(inputType);
  });
  $('#admin_question_inputType').change(setField);
</script>
