<%= form_with(model: admin_question) do |form| %>
  <% if admin_question.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(admin_question.errors.count, "error") %> prohibited this admin_question from being saved:</h2>

      <ul>
        <% admin_question.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_area :title %>
  </div>

  <div>
    <%= form.label :inputType, style: "display: block" %>
    <%= form.select :inputType, Admin::Question.inputTypes %>
  </div>

  <div>
    <%= form.label :optionValues, style: "display: block" %>
    <%= form.text_field :optionValues %>
  </div>

  <div>
    <%= form.label :answer, style: "display: block" %>
    <%= form.text_field :answer %>
  </div>

  <div>
    <%= form.label :subject_id, style: "display: block" %>
    <%= form.select :subject_id, get_all_subjects %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
