<div class='card col-6 my-3' id="<%= dom_id question %>">
  <p>
    <strong>Title:</strong>
    <%= question.title %>
  </p>

  <p>
    <strong>InputType:</strong>
    <%= question.inputType %>
  </p>

  <p>
    <strong>Optionvalues:</strong>
    <%= question.optionValues %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= question.subject.name %>
  </p>

</div>
