<div id="<%= dom_id question %>">
  <p>
    <strong>Title:</strong>
    <%= question.title %>
  </p>

  <p>
    <strong>Inputtype:</strong>
    <%= question.inputType %>
  </p>

  <p>
    <strong>Optionvalues:</strong>
    <%= question.optionValues %>
  </p>

  <p>
    <strong>Answer:</strong>
    <%= question.answer %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= question.subject_id %>
  </p>

</div>
