<div class='card col-6 my-3' id="<%= dom_id question %>">
  <p>
    <strong>Title:</strong>
    <%= question.title %>
  </p>

  <p>
    <strong>InputType:</strong>
    <%= question.inputType %>
  </p>

  <p>
    <strong>Optionvalues:</strong>
    <%= question.optionValues %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= question.subject.name %>
  </p>

  <p>
    <strong>Answer:</strong>
    <%= question.answer %>
  </p>

  <div>
    <%= link_to "Edit this question", edit_admin_question_path(question) %> |
    <%= link_to "Back", :back %>
    <%= button_to "Destroy this question", question, method: :delete, class: 'btn btn-danger' %>
  </div>

</div>
