<table class="table">
	<thead>
		<tr>
			<th>Id</th>
			<th>Email</th>
			<th>Assigned</th>
			<th>Appear</th>
		</tr>
	</thead>
	<tbody>
		<% users.each do |admin_user| %>
				<tr>
					<td>
						<%= link_to edit_admin_user_path(admin_user) do %>
							<%= admin_user.id %>
						<% end %>
					</td>
					<td>
						<%= link_to edit_admin_user_path(admin_user) do %>
							<%= admin_user.email %>
						<% end %>
					</td>
					<td>
						<%= admin_user.exam&.name %>
					</td>
					<td>
						<%= admin_user.appear %>
					</td>
				</tr>
		<% end %>
	</tbody>
</table>
